<header class="header">
  <nav>
    <div class="logo">Todo</div>
    <ul class="nav-list">
      <li class="nav-item"><a *ngIf="auth.isUserLoggedIn()" routerLink="/dashboard/admin">Home</a></li>
      <li class="nav-item"><a *ngIf="auth.isUserLoggedIn()" routerLink="/todos">Todos</a></li>
    </ul>
    <ul class="auth-list">
      <li class="auth-item"><a *ngIf="!auth.isUserLoggedIn()" routerLink="/login">Login</a></li>
      <li class="auth-item"><a *ngIf="auth.isUserLoggedIn()" routerLink="/logout">Logout</a></li>
    </ul>
  </nav>
</header>

