.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
  font-size: 18px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-field {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  font-size: 16px;
}

.checkbox {
  margin-left: 10px;
  font-size: 16px;
}

.save-button {
  margin-top: 20px;
  width: 50%;
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
