<div class="login-container">
  <small *ngIf="invalidLogin" class="error-message">{{errorMsg}}</small>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" [(ngModel)]="username" class="form-control">
    <label for="password">Password</label>
    <input type="text" name="password" id="password" [(ngModel)]="password" class="form-control">
    <button (click)="handleLogin()" class="login-button">Login</button>
  </div>
</div>
